<div id="<%= dom_id(interpreter_detail, :index) %>">
  <%= turbo_stream_from interpreter_detail %>
  <%= render interpreter_detail %>
  <%= link_to "View", interpreter_detail, class: "btn btn-white" %>
</div>

