<div id="<%= dom_id interpreter_detail %>">
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Interpreter type</p>
    <%= interpreter_detail.interpreter_type %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Gender</p>
    <%= interpreter_detail.gender %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Primary phone</p>
    <%= interpreter_detail.primary_phone %>
  </div>
</div>
