<div class="px-4 sm:px-6 lg:px-8 mb-4 border-t">
  <div class="sm:flex sm:items-center">
    <div class="sm:flex-auto">
      <h1 class="text-xl font-semibold text-gray-900">Current Availability</h1>
    </div>
  </div>
  <div class="mt-5 flex flex-col">
    <div class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
        <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 md:rounded-lg">
          <table class="min-w-full divide-y divide-gray-300">
            <thead class="bg-gray-50">
              <tr>
                <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">From</th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">To</th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">In-Person</th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Phone</th>
								<th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Video Call</th>
                <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-6">
                  <span class="sr-only">Update</span>
                </th>
								<th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-6">
                  <span class="sr-only">Delete</span>
                </th>
              </tr>
            </thead>
            <tbody class="divide-y divide-gray-200 bg-white">
              <tr>
                <td class="whitespace-nowrap py-4 pl-4 text-sm text-gray-500">12:00 PM</td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">2:00 PM</td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><i class="fa-solid fa-square-check"></td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"> - </td>
								<td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><i class="fa-solid fa-square-check"></td>
                <td class="whitespace-nowrap text-center py-4 pr-4">
                  <button class="rounded-none border border-transparent bg-green-600 px-4 py-2 font-medium text-white shadow-sm hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-offset-2 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm">Update</button>
                </td>
								<td class="whitespace-nowrap px-3 py-4"><i class="fa fa-xl fa-trash"></td>
              </tr>
							<tr>
                <td class="whitespace-nowrap py-4 pl-4 text-sm text-gray-500">3:00 PM</td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">6:00 PM</td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"> - </td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><i class="fa-solid fa-square-check"></td>
								<td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"> - </td>
                <td class="whitespace-nowrap text-center py-4 pr-4">
                  <button class="rounded-none border border-transparent bg-green-600 px-4 py-2 font-medium text-white shadow-sm hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-offset-2 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm">Update</button>
                </td>
								<td class="whitespace-nowrap px-3 py-4"><i class="fa fa-xl fa-trash"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
