<div class="px-4 sm:px-6 lg:px-8 container" data-controller="interpreter-appointments">

  <%= form_with url: "/interpreters/fetch_appointments", class: 'form', remote: true, method: :get, data: { remote: true, action: "ajax:success->interpreter-appointments#handleResults", target: "interpreter-appointments.form", interpreter_appointments_target: "form" } do |form| %>
    <%= form.hidden_field :status, value: @status %>
    <div>
      <fieldset class="mt-10">
        <ul class="list-none items-center w-full text-sm text-gray-500 bg-white sm:flex">
          <li class="w-full text-center">
            <div class="flex items-center border justify-center">
              <label class="relative flex cursor-pointer p-4 focus:outline-none">
                <input id="today" name="display_range" type="radio" class="mt-0.5 h-4 w-4 shrink-0 cursor-pointer text-tokanisecondary-600 border-gray-300 focus:ring-tokanisecondary-500" data-action="change->interpreter-appointments#changed" value="today">
                <span class="ml-3 flex flex-col">
                  <!-- Checked: "text-sky-900", Not Checked: "text-gray-900" -->
                  <span id="privacy-setting-0-label" class="inline text-sm font-medium">Today's Appointments</span>
                </span>
              </label>
            </div>
          </li>
          <li class="w-full text-center">
            <div class="flex items-center border border-l-0 justify-center">
              <label class="relative flex cursor-pointer p-4 focus:outline-none">
                <input id="today" name="display_range" type="radio" class="mt-0.5 h-4 w-4 shrink-0 cursor-pointer text-tokanisecondary-600 border-gray-300 focus:ring-tokanisecondary-500" data-action="change->interpreter-appointments#changed" value="tomorrow">
                <span class="ml-3 flex flex-col">
                  <!-- Checked: "text-sky-900", Not Checked: "text-gray-900" -->
                  <span id="privacy-setting-0-label" class="inline text-sm font-medium">Tomorrow's Appointments</span>
                </span>
              </label>
            </div>
          </li>
          <li class="w-full text-center">
            <div class="flex items-center border border-l-0 justify-center">
              <label class="relative flex cursor-pointer p-4 focus:outline-none">
                <input id="today" name="display_range" type="radio" class="mt-0.5 h-4 w-4 shrink-0 cursor-pointer text-tokanisecondary-600 border-gray-300 focus:ring-tokanisecondary-500" data-action="change->interpreter-appointments#changed" value="date_range">
                <span class="ml-3 flex flex-col">
                  <!-- Checked: "text-sky-900", Not Checked: "text-gray-900" -->
                  <span id="privacy-setting-0-label" class="inline text-sm font-medium">Date Range</span>
                </span>
              </label>
            </div>
          </li>
        </ul>
      </fieldset>
    </div>
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 pt-4">
      <div class="flex h-16 justify-between items-center">
        <div class="flex">
          <div class="flex flex-shrink-0 items-end">
            <input name="modality_in_person" class="form-check-input appearance-none h-5 w-5 border border-gray-300 rounded-sm bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-1 cursor-pointer" type="checkbox" id="inlineCheckbox1" value="in_person" data-action="change->interpreter-appointments#changed">
            <label class="form-check-label inline-block text-gray-800 mr-3" for="inlineCheckbox1">In Person</label>
          </div>
          <div class="flex flex-shrink-0 items-center">
            <input name="modality_phone" class="form-check-input appearance-none h-5 w-5 border border-gray-300 rounded-sm bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-1 cursor-pointer" type="checkbox" id="inlineCheckbox2" value="phone" data-action="change->interpreter-appointments#changed">
            <label class="form-check-label inline-block text-gray-800 mr-3" for="inlineCheckbox2">Phone</label>
          </div>
          <div class="flex flex-shrink-0 items-center">
            <input name="modality_video" class="form-check-input appearance-none h-5 w-5 border border-gray-300 rounded-sm bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-1 cursor-pointer" type="checkbox" id="inlineCheckbox3" value="video" data-action="change->interpreter-appointments#changed">
            <label class="form-check-label inline-block text-gray-800 mr-3" for="inlineCheckbox3">Video</label>
          </div>
        </div>
        <div class="flex items-center">
          <div class="hidden md:ml-4 md:flex md:flex-shrink-0 md:items-center">
            <div class="inline-form mr-4">
              <label for="start-date" class="block font-medium text-gray-700 mt-2">Start Date</label>
              <input type="date" name="start_date" id="start-date" class="inline-block w-1/8 rounded-md border-gray-300 focus:border-indigo-500 focus:ring-indigo-500" data-action="change->interpreter-appointments#changed">
            </div>
            <div class="inline-form">
              <label for="end-date" class="block font-medium text-gray-700 mt-2">End Date</label>
              <input type="date" name="end_date" id="end-date" class="inline-block w-1/8 rounded-md border-gray-300 focus:border-indigo-500 focus:ring-indigo-500" data-action="change->interpreter-appointments#changed">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-8 flex flex-col">
      <div class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
          <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 md:rounded-lg">
            <div data-interpreter-appointments-target="appointments">
              <%= render template: 'interpreters/fetch_appointments' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>