<div class="mx-auto max-w-6xl sm:px-6 lg:px-8">
	<div class="border border-gray-300 bg-white px-4 py-5 sm:px-6 mt-5">
		<h3 class="text-lg font-medium leading-6 text-gray-900">M21-156 Details</h3>
		<div class="grid grid-cols-2 gap-4 mt-5">
			<div>
				<ul class="list-none list-outside">
					<li><i class="fa fa-calendar mr-4"></i>Start date and Time</li>
					<li><i class="fa fa-male mr-4"></i> In-Person</li>
					<li><i class="fa fa-language mr-2"></i> Language</li>
					<li><i class="fa fa-location-arrow mr-4"></i>Site</li>
					<li><i class="fa fa-square mr-4"></i>Department</li>
					<li><i class="fa fa-book mr-3"></i> Subject</li>
				</ul>
			</div><!-- ... -->
			<div>
				<ul class="list-none">
					<li>Site</li>
					<li>Department</li>
					<li>Duration</li>
					<li>Provider</li>
					<li>Requester</li>
				</ul>
			</div>
		</div>
		<div class="mt-10 mb-5">
			<p>Appt. Docs:</p>
		</div>
	</div>
	<div class="mt-10 gap-8 columns-2 flex justify-center">
		<button class="ml-3 inline-flex justify-center rounded-md border border-transparent bg-green-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Claim Appointment</button>
	</div>
</div>