<%= content_for :title, t("shared.scaffold.edit.title", model: "Site") %>
<%#= render partial: 'shared/sidenav' %>
<div class="flex flex-1 flex-col md:pl-64">
  <main class="flex-1">
    <div class="py-6">
      <div class="mx-auto max-w-7xl px-4 sm:px-6 md:px-6">
        <div class="px-4 sm:px-6 lg:px-8">
          <div class="sm:flex sm:items-center pb-6">
            <div class="sm:flex-auto"> 
              <h1 class="text-xl font-semibold text-gray-900">
                <%= link_to "Sites", sites_path, class: "text-tokanisecondary-500" %>
                  <span class="text-gray-400 font-light mx-2">\</span>
                  <%= t("shared.scaffold.edit.title", model: "Site") %>
              </h1>
            </div>  
          </div>
          <div class="p-8 bg-white rounded shadow">
            <%= render "form", site: @site, path: customer_site_path(@site) %>
          </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>