<%= content_for :title, t("shared.scaffold.new.title", model: "Pay Bill Config") %>
<%= render partial: "shared/sidenav" %>
<div class="flex flex-1 flex-col md:pl-64">
  <main class="flex-1">
    <div class="py-6">
      <div class="mx-auto max-w-7xl px-4 sm:px-6 md:px-8">
          <div class="px-4 sm:px-6 lg:px-8">
            <div class="sm:flex sm:items-center pb-6">
                <div class="sm:flex-auto"> 
                  <h1 class="text-xl font-semibold text-gray-900">
                    <%= link_to "Pay/Bill Configs", pay_bill_configs_path, class: "text-tokanisecondary-500" %>
                      <span class="text-gray-400 font-light mx-2">\ New Pay Bill Config</span>    
                  </h1>
                </div>      
                </div>
                <div class="p-8 bg-white rounded shadow">
                  <%= render "form", pay_bill_config: @pay_bill_config %>
                </div>
            </div>
          </div>
        </div>
  </main>
</div>
