<div id="<%= dom_id specialty %>">
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Name</p>
    <%= specialty.name %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Display code</p>
    <%= specialty.display_code %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Is active</p>
    <%= specialty.is_active %>
  </div>
</div>
