<div id="<%= dom_id(requestor_detail, :index) %>">
  <%= turbo_stream_from requestor_detail %>
  <%= render requestor_detail %>
  <%= link_to "View", requestor_detail, class: "btn btn-white" %>
</div>

