<div class="flex flex-1 flex-col md:pl-64">
  <main class="flex-1 pb-8">
    <div class="container mx-auto mt-8 max-w-6xl px-4 sm:px-6 lg:px-8 text-justify">
      <h1 class="mb-4"><%= t(".title") %></h1>
      <%= tag.p t("users.agreements.show.last_updated", date: l(@agreement.updated.to_date, format: :long)), class: "mb-4 text-gray-700 leading-normal" if @agreement %>

      <%= render "users/agreements/privacy_policy" %>
    </div>
  </main>
</div>
