<p class="mb-4 leading-normal">
  Effective Date January 1, 2023
</p>

<p class="mb-3">
  <b>IMPORTANT, READ CAREFULLY:</b> YOUR USE OF AND ACCESS TO THE
  TOKANI.COM WEBSITE AND PRODUCTS AND SERVICES AND ASSOCIATED
  SOFTWARE (COLLECTIVELY, THE "SERVICES") OF FLUENCY, INC. IS
  CONDITIONED UPON YOUR COMPLIANCE WITH AND ACCEPTANCE OF THESE
  TERMS, WHICH INCLUDE YOUR AGREEMENT TO ARBITRATE CLAIMS. FOR THE
  PURPOSES OF THIS AGREEMENT, FLUENCY, INC IS DOING BUSINESS AS
  TOKANI.COM. ALL REFERENCES TO FLUENCY, INC ALSO PERTAIN EQUALLY
  AND INTERCHANGEABLY TO ALL SERVICES PROVIDED THROUGH AND ON
  BEHALF OF THE TOKANI.COM SOFTWARE AS A SERVICE PLATFORM. PLEASE
  REVIEW THOROUGHLY BEFORE ACCEPTING THIS “AGREEMENT.
  ADDITIONALLY, THE ACCESS AND USE OF THE SERVICES ARE EXPRESSLY AND
  HEREBY FOR THE INTERNAL BUSINESS PURPOSES OF DELIVERING SPOKEN
  LANGUAGE AND AMERICAN SIGN LANGUAGE INTERPRETING SERVICES AS
  WELL AS ANY ALLIED OR ASSOCIATED BUSINESS USE OF THESE
  COMMUNICATION SERVICES AND PLATFORMS.
</p>
<p class="mb-3">
  BY CLICKING/CHECKING THE "I AGREE" BUTTON/BOX, ACCESSING THE
  FLUENCY, INC SERVICES YOU AGREE TO BE BOUND BY THESE TERMS OF
  SERVICE AND ALL EXHIBITS, ORDER FORMS, AND INCORPORATED POLICIES
  (THE “AGREEMENT” OR “TOS”). THESE FLUENCY INC. SERVICES ARE NOT
  AVAILABLE TO PERSONS WHO ARE NOT LEGALLY ELIGIBLE TO BE BOUND BY
  THESE TERMS OF SERVICE.
</p>
<p class="mb-3">
  THIS AGREEMENT APPLIES TO THE SERVICES AND SOFTWARE THAT FLUENCY
  CLIENTS HAVE LEGITIMATELY PURCHASED. THE SOFTWARE AND ASSOCIATED
  ENABLED PLATFORMS INCLUDING ANY AND ALL PRODUCTS AND SERVICES
  ACCESSIBLE VIA THE TOKANI.COM WEB PORTAL ARE LICENSED, NOT SOLD.
  FLUENCY, INC CLIENTS MAY USE ONLY THE SOFTWARE THAT HAS BEEN PAID
  FOR, AND FLUENCY, INC. CLIENTS MUST USE IT STRICTLY IN ACCORDANCE
  WITH THE TERMS AND CONDITIONS OF THIS AGREEMENT. FLUENCY, INC.
  CLIENTS ARE RESPONSIBLE FOR ENSURING THAT ALL EMPLOYEES,
  CONTRACTORS, CLIENTS, AND OTHER USERS (“AUTHORIZED USERS”) WITHIN
  ITS ORGANIZATION OR ENTITY ABIDE BY THE TERMS AND CONDITIONS OF THIS
  AGREEMENT.
</p>
<p class="mb-3">
  FLUENCY, INC. RESERVES THE RIGHT, AT ITS SOLE DISCRETION, TO MODIFY,
  DELETE, EDIT, AND/OR ADD TO THE TERMS AND CONDITIONS OF THIS
  AGREEMENT, AND AT ANY TIME SUCH MODIFIED TERMS AND CONDITIONS
  SHALL BECOME AVAILABLE, IT WILL HAVE IMMEDIATE EFFECT AND BE IN
  FORCE ONCE THEY ARE MADE AVAILABLE THROUGH PLATFORM UPDATES.
  UNLESS OTHERWISE EXPRESSLY SET FORTH IN ANY SUCH ADDITIONAL TERMS
  AND CONDITIONS APPLICABLE TO THE SERVICES, THOSE ADDITIONAL
</p>
<p class="mb-3">
  TERMS ARE HEREBY INCORPORATED INTO THIS AGREEMENT IN RELATION TO
  YOUR USE OF THE SERVICES.
</p>
<p class="mb-3">
  1. <b>SERVICES</b>. Fluency, Inc. will provide the Services as described on the
  TOKANI.COM website. Fluency, Inc. in its sole discretion may discontinue the Services
  or modify the features of the Services from time to time without prior notice.
</p>
<ul class="list-none mb-3">
  <li class="ml-10">
    a. Beta Services. Fluency, Inc. via TOKANI.COM may, from time to
    time, offer access to services that are classified as Beta versions. Access
    to and use of Beta versions may be subject to additional agreements.
    Fluency, Inc. makes no representations that a Beta version will ever be
    made generally available and reserves the right to discontinue or modify a
    Beta version at any time without notice. Beta versions are provided AS IS,
    may contain bugs, errors or other defects, and Your use of a Beta version
    is at Your sole risk. Your feedback, suggestions and opinions may be
    incorporated into later versions of the Services, and you hereby agree that
    your feedback will remain the exclusive intellectual property of Fluency in
    perpetuity.
  </li>
</ul>
<p class="mb-3">
  2. <b>USE OF SERVICES AND YOUR RESPONSIBILITIES</b>. You may only use the
    Services pursuant to the terms of this Agreement. You are solely responsible for Your
    and Your End Users’ use of the Services and shall abide by, and ensure compliance with,
    all laws and state, local and federal regulations in connection with Your and each End
    User’s use of the Services, including but not limited to laws related to recording,
    intellectual property, privacy, personal health information, student information as codified
    by the Health Insurance Portability and Accountability Act (HIPAA) and Family
    Educational Rights and Privacy Act (FRPA) among other regulations that may be
    promulgated and in force when the Services are used within the United States.
</p>
<ul class="list-none mb-3">
  <li class="ml-10 mb-3">
    a. Registration Information. You may be required to provide
    information about Yourself to register for and/or use certain Services. You
    agree that any such information shall be accurate. You also will be asked
    to choose a password. You are entirely responsible for maintaining the
    security of Your username and password and agree not to disclose such to
    any third party.
  </li>
  <li class="ml-10 mb-3">
    b. Implementation Obligations. Access to the Services begin with a
    self-registration page that will require your detailed contact information
    along with a credit card or Google Pay details to be completed. Depending
    upon your Subscription level, Licensee shall be responsible for promptly
    supplying to Fluency, Inc. a digital logo file in the appropriate file format and
    size requested by the Tokani Services.
  </li>
  <li class="ml-10 mb-3">
    c. Your Content. You agree that You are solely responsible for the
    content ("Content") sent or transmitted by You or displayed or uploaded by
    You in using the Services and for compliance with all Laws pertaining to the
    Content, including, but not limited to, Laws requiring You to obtain the
    consent of a third party to use the Content and to provide appropriate
    notices of third-party rights. You represent and warrant that You have the
    right to upload the Content to the Services and that such use does not
    violate or infringe on any rights of any third party. Under no circumstances
    will Fluency, Inc. be liable in any way for any (a) Content that is transmitted
    or viewed while using the Services, (b) errors or omissions in the Content,
    or (c) any loss or damage of any kind incurred as a result of the use of,
    access to, or denial of access to Content. Although Fluency, Inc. is not
    responsible for any Content, Fluency, Inc. may delete any Content, at any
    time without notice to You, if Fluency, Inc. becomes aware that it violates
    any provision of this Agreement, or any law. You retain copyright and any
    other rights You already hold in Content which You submit, post, or display
    on or through, the Services.
  </li>
  <li class="ml-10 mb-3">
    d. Recordings. You are responsible for compliance with all recording
    laws. Fluency, Inc. may have capability to record remote video/audio
    meetings via 3rd party communication service providers and platforms.
    Permission to record and store any meetings will be subject to the 3rd party
    service provider rules and terms of service linked via the Tokani.com
    platform.
  </li>
  <li class="ml-10 mb-3">
    e. Prohibited Use. You agree that You will not use, and will not permit
    any End User to use, the Services to: (i) modify, disassemble, decompile,
    prepare derivative works of, reverse engineer or otherwise attempt to gain
    access to the source code of the Services; (ii) knowingly or negligently use
    the Services in a way that abuses, interferes with, or disrupts Fluency, Inc.’s
    networks, Your accounts, or the Services; (iii) engage in activity that is
    illegal, fraudulent, false, or misleading, (iv)
    transmit through the Services any material that may infringe the intellectual
    property or other rights of third parties; (v) build or benchmark a competitive
    product or service, or copy any features, functions or graphics of the
    Services; or (vi) use the Services to communicate any message or material
    that is harassing, libelous, threatening, obscene, indecent, would violate the
    intellectual property rights of any party or is otherwise unlawful, that would
    give rise to civil liability, or that constitutes or encourages conduct that could
    constitute a criminal offense, under any applicable local, state or federal law
    or regulation; (vii) upload or transmit any software, content or code that does
    or is intended to harm, disable, destroy or adversely affect performance of
    the Services in any way or which does or is intended to harm or extract
    information or data from other hardware, software or networks of Fluency,
    Inc. or other users of Services; (viii) engage in any activity or use the
    Services in any manner that could damage, disable, overburden, impair or
    otherwise interfere with or disrupt the Services, or any servers or networks
    connected to the Services or Fluency, Inc.'s security systems. (ix) use the
    Services in violation of any Fluency, Inc. policy or in a manner that violates
    applicable law, including but not limited to anti-spam, export control, privacy,
    and anti-terrorism laws and regulations and laws requiring the consent of
    subjects of audio and video recordings, and You agree that You are solely
    responsible for compliance with all such laws and regulations.
  </li>
  <li class="ml-10 mb-3">
    f. Limitations on Use. You may not reproduce, resell, rent, lease,
    sublicense or distribute the Services or any information services or products
    generated by the Services for any purpose outside your direct business use
    articulated in this Agreement unless You have been specifically permitted
    to do so under a separate written agreement with Fluency, Inc. You may not
    offer or enable any third parties to use the Services purchased by You,
    display on any website, or otherwise publish the Services or any Content
    obtained from a Service (other than Content created by You) or otherwise
    generate income from the Services or use the Services for the development,
    production or marketing of a service or product substantially similar to the
    Services.
  </li>
  <li class="ml-10 mb-3">
    g. System Requirements. Use of the Services requires one or more
    compatible devices, Internet access (fees may apply), and certain third-
    party software products and/or services that have been designed to
    enhance the features, add new features, and improve the work, security
    and overall usability of the platform. Such third-party products and services
    may require additional fees to install and use and may require obtaining
    updates or upgrades from time to time in order to keep these third party
    products and services up to date and useful. Because use of the Services
    involves hardware, software, and Internet access, and other third-party
    products and services, your ability to access and use the Services may be
    affected by the performance of these third-party products and services. High
    speed Internet access is recommended. You acknowledge and agree that
    such system requirements, which
  </li>
</ul>
<p class="mb-3">
  3. <b>RESPONSIBILITY FOR END USERS</b>. You are responsible for the activities of all
  End Users who access or use the Services through your account, and you agree to
  ensure that any such End User will comply with the terms of this Agreement and any
  Fluency, Inc. policies. Fluency, Inc. assumes no responsibility or liability for violations. If
  You become aware of any violation of this Agreement in connection with use of the
  Services by any person, please contact Fluency, Inc. at support@tokani.com. Fluency,
  Inc. may investigate any complaints and violations that come to its attention and may take
  any (or no) action that it believes is appropriate, including, but not limited to issuing
  warnings, removing the content or terminating accounts and/or User profiles. Under no
  circumstances will Fluency, Inc. be liable in any way for any data or other content viewed
  while using the Services, including, but not limited to, any errors or omissions in any such
  data or content, or any loss or damage of any kind incurred as a result of the use of,
  access to, or denial of access to any data or content.
</p>
<p class="mb-3">
  4. <b>FLUENCY, INC. OBLIGATIONS FOR CONTENT</b>. Fluency, Inc. will maintain
  reasonable physical and technical safeguards to prevent unauthorized disclosure of or
  access to Content, in accordance with industry standards. Fluency, Inc. will notify You if
  it becomes aware of unauthorized access to Content. Fluency, Inc. will not access, view
  or process Content except (a) as provided for in this Agreement and in Fluency, Inc.’s
  (Privacy Statement;) (b) as authorized or instructed by You, (c) as required to perform
  its obligations under this Agreement; or (d) as required by Law. Fluency, Inc. has no other
  obligations with respect to Content.
</p>
<p class="mb-3">
  5. <b>THIRD-PARTY USE OF COOKIES AND OTHER TRACKING TECHNOLOGIES</b>
  Some content or applications, including advertisements, on the Website are served by
  third parties, including advertisers, ad networks and servers, content providers, and
  application providers. These third parties may use cookies alone or in conjunction with
  web beacons or other tracking technologies to collect information about you when you
  use our website. The information they collect may be associated with your personal
  information or they may collect information, including personal information, about your
  online activities over time and across different websites and other online services. They
  may use this information to provide you with interest-based (behavioral) advertising or
  other targeted content. Fluency, Inc. does not control these third parties’ tracking
  technologies or how they may be used. If you have any questions about an advertisement
  or other targeted content, you should contact the responsible provider directly.
</p>
<p class="mb-3">
  6. <b>ELIGIBILITY</b>. You affirm that You are at least 18 years of age and are otherwise
  fully able and competent to enter into the terms, conditions, obligations, affirmations,
  representations, and warranties set forth in this Agreement, and to abide by and comply
  with this Agreement. Your access may be terminated without warning if we believe that
  You are under the age of 18 or are otherwise ineligible.
</p>
<p class="mb-3">
  7. <b>INTENDED USE, RESTRICTION ON USE BY CHILDREN</b>. The Services are
  intended for business use. The Tokani.com Services are not intended for use by
  individuals under the age of 18, unless it is through a School Subscriber (as that term is
  defined in the Services Description) using Fluency, Inc. for Education (K-12).
</p>
<p class="mb-3">
  8. <b>CHARGES AND CANCELLATION</b>. You agree that Fluency, Inc. may charge to
  Your credit card or other payment mechanism selected by You and approved by Fluency,
  Inc. ("Your Account") all amounts due and owing for the Services, including taxes and
  service fees, set up fees, subscription fees, support fees or any other fee or charge
  associated with Your Account. Fluency, Inc. shall have the right to increase any fees in
  its sole and absolute discretion upon thirty (30) days’ prior written notice in advance of
  the commencement of a Renewal Period; provided, however, Fluency, Inc. will not
  increase fees more than once in any consecutive twelve (12) month period. Fluency, Inc.
  may change prices at any time, including changing from a free service to a paid service
  and charging for Services that were previously offered free of charge; provided, however,
  that Fluency, Inc. will provide you with prior notice and an opportunity to terminate Your
  Account. Fluency, Inc. will not charge you for a previously free Service unless you have
  been notified of the applicable fees and agreed to pay such fees. You agree that in the
  event Fluency, Inc. is unable to collect the fees owed to Fluency, Inc. for the Services
  through Your Account, Fluency, Inc. may take any other steps it deems necessary to
  collect such fees from You up to and including the termination of all Services. You will be
  responsible for all costs and expenses incurred by Fluency, Inc. in reinstating Services
  that have been suspended and/or terminated due to non-payment. You may cancel
  your subscription at any time. If you cancel you
  will not receive a refund for any service already paid for. All past due amounts shall be
  subject to a late fee equal to the greater of (i) ten percent (10%) of the outstanding
  balance; (ii) One Hundred Seventy-Five Dollars ($175.00); or (iii) the maximum amount
  allowable by applicable law. Your payment of a late fee on overdue amounts shall not
  cure or waive any default pursuant to this Licensing. Fluency, Inc. shall further have the
  right on thirty (30) days prior written notice to suspend the performance of all Services if
  any payment due and payable goes unpaid. Fluency, Inc. also reserves the right to submit
  any balance to collections which goes unpaid for at least ninety (90) days following the
  invoice date. In the event Fluency, Inc. has to pursue an unpaid balance through
  collections or other legal action, Licensee will be responsible for all costs and attorney’s
  fees.
</p>
<p class="mb-3">
  9. <b>TERMINATION</b>. If you have purchased a Service for a specific term, such
  termination will be effective on the last day of the then-current term. Your Order Form
  may provide that a Renewal Term will begin automatically unless either party provides
  notice of termination at least thirty (30) days prior to the commencement of the next
  Renewal Term. If You fail to comply with any provision of this Agreement, Fluency, Inc.
  may terminate this Agreement immediately and retain any fees previously paid by You.
  Sections 1 and 3 through 20, inclusive, shall survive any termination of this Agreement.
  Upon any termination of this Agreement, you must cease any further use of the Services.
  If at any time You are not happy with the Services, your sole remedy is to cease using
  the Services and follow this termination process. Upon any expiration or termination of
  Services, Fluency, Inc. shall have the right to immediately and permanently suspend the
  performance of all Services. In addition, upon expiration or termination You shall have no
  further right to install, use, display, or run the Fluency platform and affiliated Services.
</p>
<p class="mb-3">
  10. <b>ACCESS RESTRICTION</b>. Fluency, Inc. reserves the right to deny to any Client or
  any End User, in its sole discretion, access to the Services or any portion thereof without
  notice. Client is responsible for safeguarding the confidentiality of password(s) and
  username(s) created by Client or any of its Clients for use with the Services and for any
  use or misuse of their Fluency, Inc’s account resulting from any third party using a
  password or user name created by Client or any of its Clients. Client shall be solely
  responsible for securing access to its and its Clients’ data. Fluency, Inc. shall in no event
  be liable for any unauthorized access to any data stored using the Software.
</p>
<p class="mb-3">
  11. <b>PROPRIETARY RIGHTS</b>. Fluency, Inc. and/or its suppliers, as applicable, retain
  ownership of all proprietary rights in the Services and in all trade names, trademarks,
  service marks, logos, unique design elements and user interfaces and domain names
  ("Fluency, Inc. Marks") associated or displayed with the Services. You may not frame or
  utilize framing techniques to enclose any Fluency, Inc. Marks, or other proprietary
  information (including images, text, page layout, or form) of Fluency, Inc. without express
  written consent. You may not use any meta tags or any other "hidden text" utilizing
  Fluency, Inc. Marks without Fluency, Inc.'s express written consent.
</p>
<p class="mb-3">
  12. <b>COPYRIGHT</b>. You may not post, modify, distribute, or reproduce in any way
  copyrighted material, trademarks, rights of publicity or other proprietary rights without
  obtaining the prior written consent of the owner of such proprietary rights. Fluency, Inc.
  may deny access to the Services to any User who is alleged to infringe another party's
  copyright. Without limiting the foregoing, if You believe that Your copyright has been
  infringed, please notify Fluency, Inc. at support@tokani.com. Tokani.com
  https://tmsearch.uspto.gov/bin/showfield?f=doc&state=4805:w5h37g.2.1 and All Things
  Language, https://tmsearch.uspto.gov/bin/showfield?f=doc&state=4805:w5h37g.3.2 are
  USPTO registered service marks.
</p>
<p class="mb-3">
  13. <b>EXPORT RESTRICTIONS</b>. You acknowledge that the Services, or a portion
  thereof, are subject to the Export Administration Regulations, 15 C.F.R. Parts 730-774,
  of the United States and may be subject to other applicable country export control and
  trade sanctions laws (“Export Control and Sanctions Laws”). Fluency, Inc. will provide the
  U.S. export classification(s) applicable to its Services upon request. You and Your End
  Users may not access, use, export, re-export, divert, transfer, or disclose any portion of
  the Services or any related technical information or materials, directly or indirectly, in
  violation of Export Control and Sanctions Laws. You represent and warrant that: (i) You
  and Your End Users (a) are not citizens of, or located within, a country or territory that is
  subject to U.S. trade sanctions or other significant trade restrictions (including without
  limitation Cuba, Iran, North Korea, Syria, and the Crimea region of Ukraine) and that You
  and Your End Users will not access or use the Services, or export, re-export, divert, or
  transfer the Services, in or to such countries or territories; (b) are not persons, or owned
  50% or more, individually or in the aggregate by persons, identified on the U.S.
  Department of the Treasury’s Specially Designated Nationals and Blocked Persons List
  or Foreign Sanctions Evaders Lists; and (c) are not persons on the U.S. Department of
  Commerce’s Denied Persons List, Entity List, or Unverified List, or U.S. Department of
  State proliferation-related lists; (ii) You and Your End Users located in China, Russia, or
  Venezuela are not Military End Users and will not put Fluency, Inc.’s Services to a Military
  End Use, as defined in 15 C.F.R. 744.21; (iii) no Content created or submitted by You or
  Your End Users is subject to any restriction on disclosure, transfer, download, export or
  re-export under the Export Control and Sanctions Laws; and (iv) You and Your End Users
  will not take any action that would constitute a violation of, or be penalized under, U.S.
  antiboycott laws administered by the U.S. Department of Commerce or the U.S.
  Department of the Treasury.
  You are solely responsible for complying with the Export Control and Sanctions Laws and
  monitoring them for any modifications.
</p>
<p class="mb-3">
  14. <b>NO HIGH RISK USE</b>. The Services are not designed or licensed for use in
  hazardous environments requiring fail-safe controls, including without limitation operation
  of nuclear facilities, aircraft navigation/communication systems, air traffic control, and life
  support or weapons systems. The Services shall not be used for or in any HIGH-RISK
  environment.
</p>
<p class="mb-3">
  15. ACCEPTABLE USE POLICY. You may not use, input, upload or transmit any
  Illegal, harmful, or offensive use or content. You may not use, or encourage, promote,
  facilitate, or instruct others to use, the Services or the Software Platform for any illegal,
  harmful or offensive use, or to transmit, store, display, distribute or otherwise make
  available content that is illegal, harmful, or offensive. Prohibited activities or content
  include:
</p>
<ul>
  <li>Illegal Activities. Any illegal activities, including advertising, transmitting, or
otherwise making available gambling sites or services or disseminating, promoting, or
facilitating pornography,</li>
  <li>Harmful or Fraudulent Activities. Activities that may be harmful to others, our
operations or reputation, including offering or disseminating fraudulent goods, services,
schemes, or promotions (e.g., make-money-fast schemes, Ponzi and pyramid schemes,
phishing, or pharming), or engaging in other deceptive practices.</li>
  <li>Infringing Content. Content that infringes or misappropriate the intellectual
  property or proprietary rights of others.</li>
  <li>Offensive Content. Content that is defamatory, obscene, abusive, invasive of
privacy, or otherwise objectionable, including content that constitutes child pornography,
relates to bestiality, or depicts non-consensual sex acts, radical political ideas, incitement
of violence, or violent threats and/or intentions or any graphic images, video and/or audio
of offensive content.</li>
  <li>Harmful Content. Content or other computer technology that may damage,
interfere with, surreptitiously intercept, or expropriate any system, program, or data,
including viruses, Trojan horses, worms, time bombs, or cancelbots. Licensee and
Authorized Users shall comply with this Policy at all times. Failure to comply with the
Policy shall constitute a material breach of the Terms of Service</li>
</ul>
<p class="mb-3">
  16. <b>INJUNCTIVE RELIEF</b>. You acknowledge that any use of the Services contrary to
  this Agreement, or any transfer, sublicensing, copying or disclosure of technical
  information or materials related to the Services, may cause irreparable injury to Fluency,
  Inc., its Affiliates, suppliers and any other party authorized by Fluency, Inc. to resell,
  distribute, or promote the Services ("Resellers"), and under such circumstances Fluency,
  Inc., its Affiliates, suppliers and Resellers will be entitled to equitable relief, without posting
  bond or other security, including, but not limited to, preliminary and permanent injunctive
  relief.
</p>
<p class="mb-3">
  17. <b>NO WARRANTIES</b>.YOU UNDERSTAND AND AGREE THAT THE SERVICES
  ARE PROVIDED "AS IS" AND FLUENCY, INC., ITS AFFILIATES, SUPPLIERS AND
  RESELLERS EXPRESSLY DISCLAIM ALL WARRANTIES OF ANY KIND, EXPRESS
  OR IMPLIED, INCLUDING WITHOUT LIMITATION ANY WARRANTY OF

  MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE OR NON-
  INFRINGEMENT. FLUENCY, INC. EXPRESSLY DISCLAIMS ANY WARRANTY THAT

  USE OF THE SOFTWARE PLATFORM OR ACCESS TO THE SERVICES WILL BE
  CONTINUOUS, UNINTERRUPTED, BUG-FREE, ERROR-FREE, VIRUS- FREE, FREE
  OF DEFECTS, FREE OF TECHNICAL PROBLEMS, THAT THE SOFTWARE
  PLATFORM OR SERVICES WILL MEET ALL OF YOUR NEEDS, OR THAT DATA
  UPLOADED OR GENERATED BY THE SOFTWARE PLATFORM WILL NEVER BE
  LOST. FLUENCY, INC., ITS AFFILIATES, SUPPLIERS AND RESELLERS MAKE NO
  WARRANTY OR REPRESENTATION REGARDING THE RESULTS THAT MAY BE
  OBTAINED FROM THE USE OF THE SERVICES, REGARDING THE ACCURACY OR
  RELIABILITY OF ANY INFORMATION OBTAINED THROUGH THE SERVICES OR
  THAT THE SERVICES WILL MEET ANY USER'S REQUIREMENTS, OR BE
  UNINTERRUPTED, TIMELY, SECURE OR ERROR FREE. USE OF THE SERVICES IS
  AT YOUR SOLE RISK. ANY MATERIAL AND/OR DATA DOWNLOADED OR
  OTHERWISE OBTAINED THROUGH THE USE OF THE SERVICES IS AT YOUR OWN
  DISCRETION AND RISK. YOU WILL BE SOLELY RESPONSIBLE FOR ANY DAMAGE
  TO YOU RESULTING FROM THE USE OF THE SERVICES. THE ENTIRE RISK
  ARISING OUT OF USE OR PERFORMANCE OF THE SERVICES REMAINS WITH
  YOU. FLUENCY, INC. DOES NOT ASSUME ANY RESPONSIBILITY FOR RETENTION
  OF ANY USER INFORMATION OR COMMUNICATIONS BETWEEN USERS.
  FLUENCY, INC. CANNOT GUARANTEE AND DOES NOT PROMISE ANY SPECIFIC
  RESULTS FROM USE OF THE SERVICES. USE IS AT YOUR OWN RISK.
</p>
<p class="mb-3">
  18. <b>INDEMNIFICATION</b>. You agree to indemnify, defend and hold harmless Fluency,
  Inc., its affiliates, officers, directors, employees, consultants, agents, suppliers and
  Resellers from any and all third-party claims, liability, damages and/or costs (including,
  but not limited to, attorneys' fees) arising from Your use of the Services. This includes
  without limitation claims relating to loss or confidentiality of data or programs the following:
  (b) any violation by Authorized Users and Organizations of any warranty, representation
  or covenant under this Agreement, (c) Authorized Users and Organizations’ violation of
  any third party rights, including, without limitation, infringement of any copyright,
  trademark or patent right, violation of any other proprietary right and invasion of any
  privacy or publicity rights, and/or the use or misuse of the Client’s account by any third
  party using Client’s password(s) and/or user name(s). These obligations will survive any
  termination of this Agreement.
</p>
<p class="mb-3">
  19. <b>LIMITATION OF LIABILITY</b>. TO THE MAXIMUM EXTENT PERMITTED BY
  APPLICABLE LAW, IN NO EVENT WILL FLUENCY, INC. OR ITS AFFILIATES,
  SUPPLIERS OR RESELLERS BE LIABLE FOR ANY SPECIAL, INCIDENTAL,
  INDIRECT, EXEMPLARY OR CONSEQUENTIAL DAMAGES WHATSOEVER
  (INCLUDING, WITHOUT LIMITATION, DAMAGES FOR LOSS OF BUSINESS
  PROFITS, BUSINESS INTERRUPTION, LOSS OF BUSINESS INFORMATION, OR
  ANY OTHER PECUNIARY LOSS OR DAMAGE) ARISING OUT OF THE USE OF OR
  INABILITY TO USE THE SERVICES OR THE PROVISION OF OR FAILURE TO
  PROVIDE TECHNICAL OR OTHER SUPPORT SERVICES, WHETHER ARISING IN
  TORT (INCLUDING NEGLIGENCE) CONTRACT OR ANY OTHER LEGAL THEORY,
  EVEN IF FLUENCY, INC., ITS AFFILIATES, SUPPLIERS OR RESELLERS HAVE BEEN
  ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. IN ANY CASE, FLUENCY,
  INC.'S, ITS AFFILIATES', SUPPLIERS' AND RESELLERS' MAXIMUM CUMULATIVE
  LIABILITY AND YOUR EXCLUSIVE REMEDY FOR ANY CLAIMS ARISING OUT OF OR
  RELATED TO THIS AGREEMENT WILL BE LIMITED TO THE AMOUNT ACTUALLY
  PAID BY YOU FOR THE SERVICES (IF ANY) IN THE SIX (6) MONTHS PRECEDING
  THE EVENT OR CIRCUMSTANCES GIVING RISE TO SUCH CLAIMS. THE PARTIES
  ACKNOWLEDGE AND AGREE THAT THEY HAVE FULLY CONSIDERED THE
  FOREGOING ALLOCATION OF RISK AND FIND IT REASONABLE, AND THAT THE
  FOREGOING LIMITATIONS ARE AN ESSENTIAL BASIS OF THE BARGAIN BETWEEN
  THE PARTIES.
</p>
<p class="mb-3">
  20. <b>AGREEMENT TO ARBITRATE, WAIVER OF CLASS ACTION</b>. If You are located
  in the United States, you agree to resolve disputes only on an individual basis, through
  arbitration pursuant to the provisions of Exhibit A. The parties expressly waive any right
  to bring any action, lawsuit, or proceeding as a class or collective action, private
  attorney general action, or any other proceeding in which any party acts or
  proposes to act in a representative capacity.
</p>
<p class="mb-3">
  21. <b>WAIVER AND SEVERABILITY</b>. Failure by either Party to exercise any of its rights
  under, or to enforce any provision of, this Agreement will not be deemed a waiver or
  forfeiture of such rights or ability to enforce such provision. If any provision of this
  Agreement is held by a court of competent jurisdiction to be illegal, invalid, or
  unenforceable, that provision will be amended to achieve as nearly as possible the same
  economic effect of the original provision and the remainder of this Agreement will remain
  in full force and effect.
</p>
<p class="mb-3">
  22. <b>GENERAL PROVISIONS</b>. This Agreement embodies the entire understanding
  and agreement between the Parties respecting the subject matter of this Agreement and
  supersedes any and all prior understandings and agreements between the Parties
  respecting such subject matter, except that if You or Your company have executed a
  separate written agreement or you have signed an order form referencing a separate
  agreement governing your use of the Services, then such agreement shall control to the
  extent that any provision of this Agreement conflicts with the terms of such agreement.
  Fluency, Inc. may elect to change or supplement the terms of this Agreement from time
  to time at its sole discretion. Fluency, Inc. will exercise commercially reasonable business
  efforts to provide notice to You of any material changes to this Agreement. Within ten (10)
  business days of posting changes to this Agreement (or ten (10) business days from the
  date of notice, if such is provided), they will be binding on You. If You do not agree with
  the changes, you should discontinue using the Services. If You continue using the
  Services after such ten-business-day period, you will be deemed to have accepted the
  changes to the terms of this Agreement. In order to participate in certain Services, you
  may be notified that You are required to download software and/or agree to additional
  terms and conditions. Unless expressly set forth in such additional terms and conditions,
  those additional terms are hereby incorporated into this Agreement. This Agreement has
  been prepared in the English Language and such version shall be controlling in all
  respects and any non-English version of this Agreement is solely for accommodation
  purposes. Each party hereby agrees to submit to the jurisdiction of such courts. Client
  acknowledges that a breach of this Agreement will cause irreparable and continuing
  damage to Fluency, Inc. for which money damages are insufficient, and Fluency, Inc.
  shall be entitled to injunctive relief and/or a decree for specific performance, and such
  other relief as may be proper (including money damages if appropriate).
</p>
<p class="mb-3">
  BY ACCESSING AND USING THE FLUENCY, INC. SERVICES, YOU ACKNOWLEDGE
  THAT YOU HAVE READ THIS AGREEMENT, UNDERSTAND IT, AND AGREE
  UNCONDITIONALLY THAT YOU SHALL BE BOUND BY ITS TERMS AND
  CONDITIONS. YOU FURTHER REPRESENT AND WARRANT THAT YOU
  HAVE FULL AUTHORITY TO EXECUTE THIS BINDING AGREEMENT ON BEHALF OF
  YOUR BUSINESS OR ORGANIZATION.
</p>
<p class="mb-3">
  23. <b>Choice of Law and Forum</b>. This Agreement shall be governed by and construed
  under the laws of the State of California, U.S.A., as applied to agreements entered into
  and to be performed in California by California residents. Except as provided in Exhibit A,
  the Parties consent to the exclusive jurisdiction and venue of the state courts located in
  and serving Sacramento County, California, and the federal courts in the Northern District
  of California.
</p>
<p class="mb-3">
  24. <b>PRIVACY POLICIES</b>. Use of the Services is also subject to Fluency, Inc’s. Privacy
  Statement. The Privacy Statement, and all policies cited herein are incorporated into this
  Agreement by this reference. It is our policy to post any changes we make to our privacy
  policy on this page. You are responsible for ensuring we have an up-to-date active and
  deliverable email address for you, and for periodically visiting our Website and this privacy
  policy to check for any changes. To review our Privacy Policy please click here:
  <%= link_to 'Tokani.com/privacy', privacy_path, class: "underline" %>
</p>
<p class="mb-3">
  25. <b>DATA SECURITY</b> We have implemented measures designed to secure your
  personal and business information and that of your clients, contractors and employees
  from accidental loss and from unauthorized access, use, alteration, and disclosure. All
  information you provide to us is stored on our private cloud servers behind enterprise
  class security equipment and services. Our servers are hosted by AWS, for more
  information please review the following AWS security documentation website
  <a href="https://docs.aws.amazon.com/security" class="underline">
  https://docs.aws.amazon.com/security</a>
</p>
<p class="mb-3">
  The safety and security of your information also depends on you. Where we have given
  you (or where you have chosen) a password for access to certain parts of our Website,
  you are responsible for keeping this password confidential. We ask you not to share your
  password with anyone. We urge you to be careful about giving out information in public
  areas of the Website like message boards with particular caution towards divulging
  usernames and/or passwords on social media accounts that is widely accessed by
  anyone at any time.
</p>
<p class="mb-3">
  Unfortunately, the transmission of information via the internet is not completely secure.
  Although we do our best to protect your personal information, we cannot guarantee the
  security of your personal information transmitted to our Website. Any transmission of
  personal information is at your own risk. We are not responsible for circumvention of any
  privacy settings or security measures contained on the Website.
</p>
<p class="mb-3">
  26. <b>DATA RETENTION</b>. Fluency, Inc. will retain your information for as long as your
  account is active or as needed to provide you services. Subscriber shall have the right to
  request a copy of the data stored in the Software Services within the forty-five (45) day
  period immediately following any expiration or termination of this subscription. In any such
  case, a copy of the data will be returned via an encrypted flash drive delivered via FedEx,
  or alternatively, via a secure file transfer mechanism. All data will be expunged from the
  Software Platform within thirty (30) days of acknowledged receipt of the data by
  Subscriber, or alternatively, if no data is requested, data will be expunged permanently
  within sixty (60) days of termination, according to HIPAA rules section 45 CFR 164.50
  relating to ePhi for Covered Entities and Business Associates. Data older than 6 years
  residing on our servers will be removed and archived.
</p>
<p class="mb-3">
  27. <b>FORCE MAJEURE</b>. The failure of either Party to perform any obligation pursuant
  to this Licensing by reason of “acts of God,” acts of governments, terrorism, riots, wars,
  accidents, public health emergencies such as pandemics, bio terrorism, or natural or
  man-made disasters that have a material effect on electric power grids and/or Internet
  connectivity, or other causes of any nature beyond its control shall not be deemed to be
  a breach of this Licensing, provided that the nonperforming or delayed Party provides to
  the other Party written notice of the existence and nature of such reason for the
  nonperformance and delay, and resumes performance immediately upon the elimination
  of the relevant force majeure. In the event the force majeure event continues for more
  than thirty (30) days, then the non-delayed Party may terminate the Licensing.
</p>
<p class="mb-3">
  28. <b>CONFIDENTIAL INFORMATION</b>. During the Term and any Renewal Periods,
  each Party may disclose certain Confidential Information to the other Party. Each Party
  shall refrain from using or exploiting any and all Confidential Information of the other Party
  for any purposes or activities other than those specifically authorized during the Term,
  any Renewal Period, and for a period of two (2) years thereafter. Each Party represents
  and warrants that it will hold Confidential Information in confidence and protect
  Confidential Information to the same extent and by the same means it uses to protect the
  confidentiality of its own proprietary or confidential information that it does not wish to
  disclose. Neither Party shall disclose or facilitate disclosure of Confidential Information of
  the other Party to anyone except employees, independent contractors, and legal and tax
  advisors who are authorized according to these Terms of Service and who have a “need
  to know such information.” Each Party shall ensure that the employees, independent
  contractors, and legal and tax advisors to whom the Confidential Information is disclosed
  comply with their obligations under these Terms of Service with respect to the Confidential
  Information. All Confidential Information made available hereunder, including copies
  thereof, shall be returned to the disclosing Party or shall be certified as destroyed at the
  request of the disclosing Party. (a) “Confidential
  Information” shall be defined as all the proprietary, non-public information of either Party
  disclosed pursuant to or in furtherance of this relationship including but not limited to all
  Technical Information as defined herein, all pricing information, and 9 all data uploaded
  by Licensee or generated by the Software Platform. Notwithstanding the foregoing,
  “Confidential Information” shall not include any information that the recipient can
  demonstrate through its records (i) was in its knowledge or possession prior to disclosure
  by the discloser, (ii) was in the public domain at the time of disclosure or subsequently
  entered the public domain through no fault of the recipient, or (iii) was disclosed to the
  recipient by a third party with the right to make such a disclosure. (b) “Technical
  Information” shall be defined as all proprietary or non-public information, know-how, trade
  secrets, data, workflows, materials, inventions, source code, or discoveries owned by
  Fluency, Inc. that are necessary or useful to the Software Platform or Application and are
  in the possession of Fluency, Inc. as of the Licensing Start Date.
</p>
<p class="mb-3">
  29. <b>Modifications and Additions to this Terms of Service</b>. No modifications or
  additions to the terms and conditions of these Terms of Service shall be binding unless
  in writing and signed by both Parties. Notwithstanding the foregoing, Fluency, Inc.
  reserves the right to modify any policy or policies within its reasonable discretion from
  time to time, and such modification shall be effective upon notice to Licensee via the
  Software Platform. (g)
</p>
<p class="mb-3">
  30. <b>Assignment</b>. These Terms of Service shall be binding upon and inure to the
  benefit of the Parties and their respective successors and assigns. Neither party may
  assign their rights under this Terms of Service to a third party except upon the prior written
  consent of the other Party, which may be withheld by Fluency, Inc. in the exercise of its
  sole discretion. Fluency, Inc. shall have the right to assign the terms of the Licensing to
  (a) a parent or subsidiary of Your company; (b) a purchaser of all or substantially all of
  Your company’s assets; or (c) any successor in interest of Your company. Any purported
  assignment in violation of this Section shall be void. Any change in control of Licensee
  that results in a third party directly or indirectly owning or controlling 50% or more of
  Licensee shall constitute an assignment. No change in control of Your company, however
  effectuated, shall constitute an assignment under these Terms of Service. (h)
</p>
<p class="mb-3">
  31. <b>Notices</b>. Any notice to be given by Fluency, Inc, may be given, at Fluency Inc.’s
  option, by means of a general notice on the Software Platform, electronic mail to
  Licensee’s electronic mail address on record as provided or by hard copy sent by
  nationally recognized overnight delivery service to your business address on record.
  You may give notice to Fluency, Inc. at any time by sending an email at
  support@tokani.com. Any notice delivered in accordance with this section shall be
  deemed to have been given on actual receipt. No waiver by either Party of any breach, no
  matter how long continuing or how often repeated, shall be deemed a waiver of any
  subsequent breach thereof, nor shall any delay or omission on the part of either Party to
  exercise any right, power, or privilege hereunder be deemed a waiver of such right, power,
  or privilege. (j)
</p>
<p class="mb-3">
  32. <b>DATA BREACH</b>. If you suspect a data breach, please contact us immediately at
  <a href="mailto:support@gofluently.com" class="underline">support@gofluently.com</a>
  or by contacting us by phone at (800) 522-7512
</p>
<p class="mb-3">
  33. <b>CONTACT INFORMATION</b>:
  <a href="mailto:support@gofluently.com" class="underline">Info@tokani.com</a>,
  Fluency, Inc. is a California Corporation (800) 522-7512
</p>
<p class="mb-3 underline">
  <b>Exhibit A</b>
</p>
<p class="mb-3">
  <b>Binding Arbitration</b>
</p>
<p class="mb-3">
  This Exhibit A to the TOS describes the further provisions which apply to the Binding
  Arbitration and Class Action Waiver.
</p>
<ul class="list-none mb-3">
  <li class="ml-10 mb-3">
    A. <b>Disputes</b>. A dispute is any controversy between You and Fluency,
    Inc. concerning the Services, any software related to the Services, the price
    of the Services, Your account, Fluency, Inc.’s advertising, marketing, or
    communications, Your purchase transaction or billing, or any term of this
    Agreement, under any legal theory including contract, warranty, tort, statute,
    or regulation, except disputes relating to the enforcement or validity of Your
    or Fluency, Inc.’s intellectual property rights. As part of the best-efforts
    process to resolve disputes, and prior to initiating arbitration proceedings,
    each party agrees to provide notice of the dispute to the other party,
    including a description of the dispute, what efforts have been made to
    resolve it, and what the disputing party is requesting as resolution, to
    support@gofluently.com.
  </li>
  <li class="ml-10 mb-3">
    B. <b>Small Claims Court Available</b>. You may initiate an action in your
    local Small Claims Court if You meet the court’s requirements. However, if
    such a claim is transferred, removed, or appealed to a different court,
    Fluency, Inc. reserves the right to require arbitration.
  </li>
  <li class="ml-10 mb-3">
    C. <b>Arbitration Procedure</b>. Disputes not resolved pursuant to Section
    A or B shall be resolved through arbitration. The American Arbitration
    Association (“AAA”) will conduct any arbitration under its Commercial
    Arbitration Rules. For more information, see www.adr.org. Arbitration
    hearings will take place in the federal judicial district of Your primary
    business location. A single arbitrator will be appointed. The arbitrator must:
    (a) follow all applicable substantive Law; (b) follow applicable statutes of
    limitations; (c) honor valid claims of privilege; (d) issue a written decision
    including the reasons for the award. The arbitrator may award damages,
    declaratory or injunctive relief, and costs (including reasonable attorneys’
    fees). Any arbitration award may be enforced (such as through a judgment)
    in any court with jurisdiction. <b>Under AAA Rules, the arbitrator rules on
    his or her own jurisdiction, including the arbitrability of any claim;
    however, a court has exclusive authority to enforce the prohibition on
    arbitration on a class-wide basis or in a representative capacity.</b>
  </li>
  <li class="ml-10 mb-3">
    D. <b>Arbitration Fees</b>. For disputes involving more than $75,000, the
    AAA rules will govern payment of filing fees and the AAA’s and arbitrator’s
    fees and expenses.
  </li>
  <li class="ml-10 mb-3">
    E. <b>Conflict with AAA Rules</b>. This Agreement governs if there is a
    conflict with the AAA’s Commercial Arbitration Rules.
  </li>
  <li class="ml-10 mb-3">
    F. <b>Requirement to File Within One Year</b>. Notwithstanding any other
    statute of limitations, a claim or dispute under this Agreement must be filed
    in Small Claims Court or noticed for arbitration within one year of when it
    could first be filed, or such claim will be permanently barred.
  </li>
  <li class="ml-10 mb-3">
    G. <b>Severability</b>. If the class action waiver is found to be illegal or
    unenforceable as to all or some parts of a dispute, then those parts will not
    be arbitrated but will be resolved in court, with the balance resolved through
    arbitration. If any provision of this Exhibit A is found to be illegal or
    unenforceable, then that provision will be severed; however, the remaining
    provisions shall still apply and shall be interpreted to as nearly as possible achieve the
    original intent of this Exhibit, inclusive of the severed provision.
  </li>
</ul>
