<div id="<%= dom_id(customer_category, :index) %>">
  <%= turbo_stream_from customer_category %>
  <%= render customer_category %>
  <%= link_to "View", customer_category, class: "btn btn-white" %>
</div>

