<div class="col-span-6" data-controller="dropdown">
  <div data-action="click->dropdown#toggle click@window->dropdown#hide" role="button" data-dropdown-target="button" tabindex="0" class="inline-flex w-full justify-center rounded-md border border-tokaniprimary-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-tokanisecondary-500 focus:ring-offset-2 focus:ring-offset-gray-100">
    <span class="appearance-none flex items-center text-lg inline-block text-tokanisecondary-700">Choose Customer for Intake
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="h-4 w-4"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"></path></svg>
    </span>
  </div>
  <div data-dropdown-target="menu" class="mt-2 hidden">
    <div class="bg-white shadow rounded border overflow-hidden">
      <% if @account_customers.present? %>
        <% @account_customers.each do |cust| %>
        <%= link_to cust.name, new_appointment_path(customer_id: cust.id),  data: {action: "click->dropdown#toggle"}, class: 'no-underline block pl-8 py-3 text-gray-900 bg-white hover:bg-gray-300 whitespace-nowrap'%>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
