<div class="flex flex-1 flex-col md:pl-64">
  <main class="flex-1">
    <div class="py-6">
      <div class="mx-auto max-w-7xl px-4 sm:px-6 md:px-6">
        <div class="px-4 sm:px-6 lg:px-6">
          <div class="sm:flex sm:items-center pb-6">
            <div class="sm:flex-auto">
              <h1 class="text-xl font-semibold text-gray-900">
               <span class="text-tokanisecondary-500">
                <%= link_to("Appointments", appointments_path) %>
              </span>
              <span class="text-tokaniprimary-600 font-light mx-2">/ Time Finish for <%= link_to "Appointment #{@appointment.ref_number}", appointment_path(@appointment) %></span>
            </h1>
          </div>
        </div>
        <div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
          <% if @appointment.finish_time.present? %>
            <%= render "time_finished" %>
          <% else %>
            <%= render "time_finish_form", url_opts: { url: update_time_finish_appointment_path(@appointment), method: :put } %>
          <% end %>
        </div>
      </div>
    </div>
  </main>
</div>
