<div class="row mt-4 mb-0 justify-content-center">
  <div class="col-md-10 mx-3 mb-0 input-group input-group-static" >
    <%= label_tag :sites, "Sites", class: 'text-blueCoral' %>
  </div>
</div>

<div class="row mt-0 mb-3 justify-content-center">
  <div class="col-md-10 mx-3 mb-3 input-group input-group-static" >
    <% if @sites&.any? %>
      <%= select_tag 'report[site_id]', options_from_collection_for_select(@sites, 'id', 'name', selected: @selected_site_ids), prompt: "All Sites", data: {action: 'change->customer-sites#siteSelected'}, class: 'form-select', style: 'clear: both;' %>
    <% else %>
      <p>This customer does not have any sites.</p>
    <% end %>
  </div>
</div>
