<label class="text-md mt-2 font-medium text-tokanisecondary-500">Sites</label>
  <div class="" >
    <% if @sites&.any? %>
      <%= select_tag 'pay_bill_rate[site_ids]', options_from_collection_for_select(@sites, 'id', 'name', selected: @selected_site_ids), multiple: true, size: 3, data: {action: 'change->pay-bill-rate-customer#siteSelected'}, class: 'form-select' %>
    <% else %>
      <p>This customer does not have any sites.</p>
    <% end %>
  </div>

